{% extends 'base.html' %}

{% block head %}
<title>Gestion des blagues</title>
{% endblock %}

{% block body %}
{% include 'includes/navbar.html' %}
<div id="fondu-noir"><div class="text-white">Chargement <span class="fa fa-hourglass-o" aria-hidden="true"></span></div></div>

<div class="container-fluid pt-5">

    

    {% include 'includes/modal_managing_joke.html' %}

    <div class="row row mt-4 mb-3">
        <div class="col d-flex justify-content-center">
            {% if session["user_connected"] %}
                <button id="btnShowAddJoke" class="btn btn-outline-light" data-toggle="modal" data-target="#modalAddJoke">Ajouter une blague</button>
            {% else %}
                <span class="text-white">Pour ajouter une blague il faut <a href="/login" style="text-decoration: underline;">se connecter</a></span>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h2 class="text-white">Liste des blagues</h2>

            <form class="my-3">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="filter_category_id">Catégorie</label>
                    </div>
                    <select id="filter_category_id" name="filter_category_id" class="form-control" style="width: auto;">
                        <option value="0">Toutes les blagues</option>
                        {% for category in categories %}
                        <option value="{{category.category_id}}">{{category.category_text}}</option>
                        {% endfor %}
                    </select>
                </div>
                {% if session["user_connected"] %}
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="filter_mine" name="filter_mine">
                    <label class="custom-control-label text-white" for="filter_mine">N'afficher que mes blagues</label>
                </div>
                {% endif %}
            </form>

            <p class="text-white small">Cliquez sur la blague pour pouvoir la modifier (si c'est vous qui l'avez ajoutée)</p>

            <table class="table table-striped table-bordered table-hover table-light">
                <thead class="thead-dark">
                    <tr>
                        <th>N°</th>
                        <th>Texte</th>
                    </tr>
                </thead>
                
                <tbody>
                    {% for joke in jokes %}
                    <tr class="app-clickable {% if not joke.joke_enabled %}bg-danger{% endif %}" joke-id="{{joke.joke_id}}" data-toggle="modal" data-target="#modalJoke">
                        <td>{{joke.joke_id}}</td>
                        <td>
                            <span class="badge badge-info tr_cat_text">{{joke.joke_category.category_text}}</span>
                            <p class="app-text-ln tr_joke_text">{{joke.joke_text}}</p>
                            <footer class="blockquote-footer {% if joke.joke_user.user_id == session['user_info']['user_id'] %}text-success{% endif %}">Ajouté par {{joke.joke_user.user_name}}</footer>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                
            </table>
        </div>
    </div>

</div>

{% include 'includes/scriptjs.html' %}
<script type="text/javascript" src="{{ url_for('static', filename='js/app/jokes.js') }}"></script>


{% endblock %}