<nav class="navbar navbar-expand-md navbar-light fixed-top app-bg-bluedark">
    <!-- Brand -->
    <a class="navbar-brand p-2 text-white" href="/">David Joke</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon">
            <span class="line"></span> 
            <span class="line"></span> 
            <span class="line"></span> 
            <span class="line"></span>
        </span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto app-bg-bluedark">
            <li class="nav-item p-2">
                <a class="nav-link text-white" href="/login">Se connecter</a>
            </li>
            <li class="nav-item p-2">
                <a class="nav-link text-white" href="/jokes">Gestion des blagues</a>
            </li>
            <li class="nav-item p-2">
                <a class="nav-link text-white" href="#">Info</a>
            </li>
        </ul>
    </div>
</nav>